---
import NavLink from '../components/NavLink.astro';
import Seo from '../components/Seo.astro';

export interface Props {
	title: string;
  description: string;
}

const { title ,description} = Astro.props;
const items = [
  {id:0,
  href:"/",
  body:"Logo"},
  {
    id:1,
    href:"/blog",
    body:"Blog",
  },
  {
    id:2,
    href:"/github",
    body:"Github",
  }
]
console.log(items)
const active = true
---

<!DOCTYPE html>
<html lang="es">
	<head>
	<Seo title={title} description={description}/>
	</head>
	<body >
    <section class="container">

      <header class="header">
        <nav>
        
            <ul>
              
              {items.slice(0,1).map((link)=>{
                return <li id={link.id.toString()}>
                 {active ?  <NavLink class={"active"} href={link.href} body={link.body}/>: <NavLink class={"none"} href={link.href} body={link.body}/>}
                  </li>
              })}
                
            </ul>


        </nav>
        <nav>

          <ul class="ul" lang="en">
  
                {items.slice(1,3).map((link)=>{
                  return <li id={link.id.toString()}>
                   {active ?  <NavLink class={"active"} href={link.href} body={link.body}/>: <NavLink class={"none"} href={link.href} body={link.body}/>}
                    </li>
                })}
                  
    
          </ul>
        </nav>
      </header>
  
  <main class="main">
    <slot />
  </main>
  <footer class="footer">
    <p>Developer Duanly</p>
  </footer>
    </section>

	</body>
</html>
<style  is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
  .none{
    text-decoration:none;
  
  }
  li{
    list-style-type: none;
  }
  a{
  
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .header{
    padding: 1rem;
  }
  .container{
    
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap :5px
  }
  .main{
    height: auto;
    border: solid 1px #2222;
    padding: 1rem;
  }
  .active a:hover{
    
    text-decoration:none
  }

  .header, .footer{
    background-color: #222;
    color: #ffff;
    
    display: flex;
    justify-content:space-between;
    padding-right: 1rem;
    
  
  }

  .footer{
    padding: .4rem;
  }

   .ul {
  display: flex;
   gap: 1rem;
  
  }
  @media only screen and (max-width: 600px) {
    .ul{
      
      gap: 0;
    }
    .header{
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      text-align: center;
      justify-content: center;
    }
    .header > .ul {
      display: flex;
      flex-flow: column;
      align-items: center;
      
    }
    .footer{
    display: flex;
    justify-content: center;
    }
  }

</style>
